{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css"
      rel="stylesheet"
    />
    <title>Financial Twin</title>
  </head>
  <body>
    <div class="loader">
      <h1 class="fin">Financial Twin</h1>
      <h2>
        Your Personal AI Financial Assistant – Insight, Strategy, Success.
      </h2>
      <div class="cont1">
        <h1>
          Revolutionizing Money Management with AI: Accurate Estimations and
          Smart Financial Insights at Your Fingertips!&nbsp;
        </h1>

        <h1>
          Revolutionizing Money Management with AI: Accurate Estimations and
          Smart Financial Insights at Your Fingertips!
        </h1>
      </div>
      <div class="journey">
        <h3>Start Your Financial Journey Now <span>0</span></h3>
        <button type="button">LOADING...</button>
      </div>
    </div>
    <div class="main">
      <div class="nav">
        <div class="head">
          <img src="{{ MEDIA_URL }}pixsdd-removebg-preview.png" />
          <h1>Finance Twin</h1>
        </div>
        <div class="menu">
          <a href="#">Home</a>
          <a href="#">Features</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </div>
      <div class="page1">
        <div class="cont2">
          <div class="bx1">
            <h1>Introducing<br />Financial Twin</h1>
            <video src="{{ MEDIA_URL }}videoplayback.mp4" autoplay muted loop></video>
          </div>
          <div class="bx2">
            <h1>
              Welcome to Financial Twin – Your Personalized AI Financial
              Assistant
            </h1>
            <h2>
              Take control of your financial future today with the power of
              artificial intelligence. Financial Twin offers precise,
              data-driven estimates to help you make smarter, more confident
              decisions. Whether you’re planning for retirement, budgeting for a
              big purchase, or simply aiming to improve your financial health,
              our AI-powered platform will give you the insights you need to
              succeed.
            </h2>
          </div>
          <div class="bx3">
            <h4>
              Start your journey to financial freedom with Financial Twin. It’s
              time to see the bigger picture of your financial future – effortlessly, accurately, and with AI-driven precision.
            </h4>
          </div>
        </div>
      </div>
      <div class="page2">
        <h1>Our aim</h1>
        <div class="case">
          <div class="box1">
            <video src="{{ MEDIA_URL }}aim1.mp4" loop muted autoplay></video>
            <h3 class="case1 cs1">
              Our aim is to empower individuals and organizations with insightful financial data analysis, personalized advice, and real-time visualizations that foster better financial decision-making.
            </h3>
          </div>
          <div class="box2">
            <video src="{{ MEDIA_URL }}aim2.mp4" autoplay loop muted></video>
            <h3 class="case1 cs2">
              By leveraging advanced analytics and dynamic charting tools, we provide a clear understanding of financial health, helping users optimize their income, expenses, savings, and investments.
            </h3>
          </div>
          <div class="box3">
            <video src="{{ MEDIA_URL }}aim3.mp4" autoplay muted loop></video>
            <h3 class="case1 cs3">
              Through our innovative platform, Financial Twin seeks to bridge the gap between financial knowledge and action, guiding users toward smarter, more sustainable financial choices that align with their long-term goals.
            </h3>
          </div>
        </div>
      </div>
      <div class="page3">
        <img src="{{ MEDIA_URL }}bacimg.jpeg" alt="" class="bacimg" />
        <h1>Our Services</h1>
        <div class="cont4">
          <div class="con1">
            <div class="circle">
              <h2>AI Powered<br />Retirement goal<br />predictor</h2>
              <img src="{{ MEDIA_URL }}Financial Decision making.jpg" alt="" />
            </div>
            <h3>
              The AI-powered retirement goal predictor is an advanced tool that
              leverages machine learning algorithms to analyze personal
              financial data and project the savings needed to achieve a desired
              retirement lifestyle.
            </h3>
            <a href="#">
              <button type="button">Explore!</button>
            </a>
          </div>
          <div class="con2">
            <div class="circle">
              <h2>Your own Financial<br />Dashboard</h2>
              <img src="{{ MEDIA_URL }}Financial monitor.jpg" alt="" />
            </div>
            <h3>
              A financial dashboard is a digital tool that consolidates and
              visualizes a user's financial data in one place. It provides a
              comprehensive overview of key financial metrics, such as income,
              expenses, savings, investments.
            </h3>
            <button type="button">Explore!</button>
          </div>
          <div class="con3">
            <div class="circle">
              <h2>No more tax stress<br />enter, calculate, relax!</h2>
              <img src="{{ MEDIA_URL }}tax.jpg" alt="" />
            </div>
            <h3>
              A tax calculator is a powerful tool that simplifies the process of
              estimating your tax liability. By inputting your income,
              deductions, and credits, it quickly computes how much you owe or
              may be refunded.
            </h3>
            <button type="button">Explore!</button>
          </div>
          <div class="con1">
            <div class="circle">
              <h2>Save Smarter<br />not harder</h2>
              <img src="{{ MEDIA_URL }}savings.avif" alt="" />
            </div>
            <h3>
              A savings plan is a strategic approach to managing your finances
              with the goal of building wealth over time. It involves setting
              aside a portion of your income regularly to create a financial
              cushion for emergencies.
            </h3>
            <button type="button">Explore!</button>
          </div>
          <div class="con2">
            <div class="circle">
              <h2>plan the unexpected-<br />ai powered<br />risk assessment</h2>
              <img src="{{ MEDIA_URL }}risk.jpg" alt="" />
            </div>
            <h3>
              Risk assessment is the process of identifying, evaluating, and
              prioritizing potential risks that could impact your financial or
              business goals. By understanding the likelihood and impact of
              various risks.
            </h3>
            <button type="button">Explore!</button>
          </div>
          <div class="con3">
            <div class="circle">
              <h2>
                every penny counts!<br />
                Expense tracker
              </h2>
              <img src="{{ MEDIA_URL }}expense.jpg" alt="" />
            </div>
            <h3>
              An expense tracker is a tool designed to help you monitor and
              manage your daily spending. By categorizing and recording
              expenses, it provides a clear picture of where your money goes,
              making it easier to make informed decisions.
            </h3>
            <button type="button">Explore!</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
